@font-face {
  font-family: Viga ;
  src: url("../public/fonts/Viga.ttf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Viga";
  /* background: #ff0000; */
}

a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}

/*Pages */

/*Components*/