.platform {
    background: #0D1723;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 50px 100px;
    padding: 20px 50px 80px 50px;
    border-radius: 10px;
    position: relative
}
.platform > div > h2, .platform > div > p {
    text-align: center;
}
.platform > div > p {
    width: 400px;
    margin: auto;
    padding: 5px;
    line-height: 22px;
    color: #5a6e83;
}
.item > div > div > p {
    color: #5a6e83;
}
.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.item {
    width : 45%;
    display: flex;
    justify-content: center;
    padding: 5px
    /* gap: 10px */
}
.icon {
    position: relative;
    display: flex;
    /* background: red; */
    padding: 5px 10px;
    align-items: center;
    border-radius: 5px
}
.icon > * {
    padding: 0 5px
}
.icons {
    width: 50px;
    height: 50px;
    font-size: 35px;
    padding: 10px;
    color: #1c64ff;
    background: #D3DFFA;
    border-radius: 50%;
    position: relative;
    margin: 5px;
    /* bottom: 10px */
}
.text {
    width: 300px;
}
.button {
    padding: 10px 30px;
    color: white;
    background: #437DFE;
    border: none;
    border-radius: 25px;
    text-align: center;
    margin: auto;
    width: auto;
    font-weight: 400;
    letter-spacing: 2px;
}
.button:hover {
    background: #293b62
    
}
.divButton {
    margin: auto;
    display: flex;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%)
    
}
.arrow {
    background: white;
    color: #437DFE;
    border-radius: 50%;        
    width: 30px;
    height: 30px;
    font-size: 20px;
    /* display: flex */
}

/*LOGIN*/
.loginPage {
    background:#E9ECF2;
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: flex;
}
.form > h2 {
   text-align: center;
   padding-bottom: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    background: white;
    padding: 50px 20px;
    margin: auto;
    border-radius: 5px

}
.form > input{
    padding: 10px;
    background: #E9ECF2;
    border: none;
    border-radius: 5px;
    margin: 5px;
    width: 85%;
    margin: 10px auto
}
.form > button {
    padding: 10px;
    width: 50%;
    margin: 15px auto;
    color: white;
    background: #437DFE;
    border: none;
    border-radius: 2px
}
.grey, .grey2 {
    color: grey;
    font-size: small;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px
}
.grey2 {
    color: lightgrey;
    font-size: smaller;
    padding-top: 50px
}

.signupButton {
    padding: 10px;
    width: auto;
    margin: 15px auto;
    color: white;
    background: #437DFE;
    border: none;
    border-radius: 2px
}
.loginButton {
    padding: 10px;
    width: auto;
    margin: 15px auto;
    color: white;
    background: #437efe00;
    border: none;
    border-radius: 2px
}
.nav {  
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #2B2D42;
    color: #B3B4D6
}
.nav > div {
    display: flex;
    gap: 20px
}
.link:hover {
    color: white;
    cursor: pointer
}
.blueLink {
    color: #437DFE;
    cursor: pointer;
}




.searchInput {
    background: white;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}
.searchInput > input {
    border:none;
    padding: 10px 10px;
    color: #B2CFDA;
    width: 180px;
    border: none;
    border-radius: 5px;
}
.genres {
    display: flex;
    border: none;
    border-radius: 5px;
    /* width: 300px */
    justify-content: space-around;
    padding: 20px 100px
}
.genres > div > p {
    padding: 5px 0px;
}
.genre {
    padding: 15px 10px;
    color: #B2CFDA;
    width: 180px;
    border: none;
    border-radius: 5px;
}

/*MAP*/
.cards {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px 100px;
    /* background: black; */
}
.img {
    width: 180px;
    height: 280px;
    border-radius: 5px
}
.card {
    color: #758898;
    width: 180px;
    margin: 10px 25px;
    margin: auto;
    position: relative
}
.width {
    /* height: 50px */
    color: #647380;
    font-weight: 900
}
.titleBig {
    padding: 15px 100px 0px 100px;
    margin: 20px
}
.viewAll {
    margin-left: auto;
    width: max-content;
    padding: 0px 100px;
    color: #758898;
    margin-right: 20px;
    cursor: pointer
}
/* .cardRank > * {
    width: auto
} */
.cart {
   position: absolute;
   top: 5px;
   color: #437DFE;
   font-size: 30px;
   background: white;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;
   padding: 5px;
   right: 5px;
   font-weight: 800;
}
.cart:hover {
    background: #437DFE;
    color: white
}
.imgRank {
    border-radius: 2px;
    width: 50px;
    height: 80px
}
.cardRank{
    background: white;
    margin: 20px 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 0px 10px 1px grAy;
    width: 80vw
}

.green {
    color: green;
    font-size: 20px
}
.flex {
    display: flex;
    align-items: center
}
.flex > * {
    margin: 5px
}
.number{
    width: 10px;
    color: #99ADBD;
    font-size: 25px;
    font-weight: 900;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50px
}
.allTop {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center
}
.greyColor {
    color: #647380;
}
.lightGrey {
    color: #8BA0B2
}
.bigWidth {
    width: max-content    
}
.bigWidth > p > span {
    padding: 2px 5px;
    color: white;
    background: #437DFE;
    margin: 5px 2px;
    font-size: small;
    border-radius: 10px
}