.platform {
    background: #0D1723;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 50px 100px;
    padding: 20px 50px 80px 50px;
    border-radius: 10px;
    position: relative
}
.platform > div > h2, .platform > div > p {
    text-align: center;
}
.platform > div > p {
    width: 400px;
    margin: auto;
    padding: 5px;
    line-height: 22px;
    color: #5a6e83;
}
.item > div > div > p {
    color: #5a6e83;
}
.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.item {
    width : 45%;
    display: flex;
    justify-content: center;
    padding: 5px
    /* gap: 10px */
}
.icon {
    position: relative;
    display: flex;
    /* background: red; */
    padding: 5px 10px;
    align-items: center;
    border-radius: 5px
}
.icon > * {
    padding: 0 5px
}
.icons {
    width: 50px;
    height: 50px;
    font-size: 35px;
    padding: 10px;
    color: #1c64ff;
    background: #D3DFFA;
    border-radius: 50%;
    position: relative;
    margin: 5px;
    /* bottom: 10px */
}
.text {
    width: 300px;
}
.button {
    padding: 10px 30px;
    color: white;
    background: #437DFE;
    border: none;
    border-radius: 25px;
    text-align: center;
    margin: auto;
    width: auto;
    font-weight: 400;
    letter-spacing: 2px;
}
.button:hover {
    background: #293b62
    
}
.divButton {
    margin: auto;
    display: flex;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%)
    
}
.arrow {
    background: white;
    color: #437DFE;
    border-radius: 50%;        
    width: 30px;
    height: 30px;
    font-size: 20px;
    /* display: flex */
}

/*LOGIN*/
.loginPage {
    background:#E9ECF2;
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: flex;
}
.form > h2 {
   text-align: center;
   padding-bottom: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    background: white;
    padding: 50px 20px;
    margin: auto;
    border-radius: 5px

}
.form > input{
    padding: 10px;
    background: #E9ECF2;
    border: none;
    border-radius: 5px;
    margin: 5px;
    width: 85%;
    margin: 10px auto
}
.form > button {
    padding: 10px;
    width: 50%;
    margin: 15px auto;
    color: white;
    background: #437DFE;
    border: none;
    border-radius: 2px
}
.grey, .grey2 {
    color: grey;
    font-size: small;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px
}
.grey2 {
    color: lightgrey;
    font-size: smaller;
    padding-top: 50px
}

.signupButton {
    padding: 10px;
    width: auto;
    margin: 15px auto;
    color: white;
    background: #437DFE;
    border: none;
    border-radius: 2px
}
.loginButton {
    padding: 10px;
    width: auto;
    margin: 15px auto;
    color: white;
    background: #437efe00;
    border: none;
    border-radius: 2px
}
.alignCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.spann {
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center
}
.inc {
    color: white;
    background: #437DFE;
    position: absolute;
    font-size: 13px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    margin: auto;
    top: -5px;
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center
}
.nav {  
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #2B2D42;
    color: #B3B4D6;
    margin: auto
}
.nav > div {
    display: flex;
    gap: 20px
}
.link:hover {
    color: white;
    cursor: pointer
}
.blueLink {
    color: #437DFE;
    cursor: pointer;
}




.searchInput {
    background: white;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}
.searchInput > input {
    border:none;
    padding: 10px 10px;
    color: #B2CFDA;
    width: 180px;
    border: none;
    border-radius: 5px;
}
.genres {
    display: flex;
    border: none;
    border-radius: 5px;
    /* width: 300px */
    justify-content: space-around;
    padding: 20px 100px
}
.genres > div > p {
    padding: 5px 0px;
}
.genre {
    padding: 15px 10px;
    color: #B2CFDA;
    width: 180px;
    border: none;
    border-radius: 5px;
}

/*MAP*/
.cards {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px 100px;
    /* background: black; */
}
.img {
    width: 180px;
    height: 280px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px grey
}
.card {
    color: #758898;
    width: 180px;
    margin: 10px 25px;
    margin: auto;
    position: relative
}
.width {
    /* height: 50px */
    color: #647380;
    font-weight: 900;
    height: 60px

}
.titleBig {
    padding: 15px 100px 0px 100px;
    margin: 20px
}
.viewAll {
    margin-left: auto;
    width: max-content;
    padding: 0px 100px;
    color: #758898;
    margin-right: 20px;
    cursor: pointer
}
/* .cardRank > * {
    width: auto
} */
.cart {
    position: absolute;
    top: 5px;
    color: #437DFE;
    font-size: 30px;
    background: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    right: 5px;
    font-weight: 800;
}
.cart:hover {
    background: #437DFE;
    color: white
}
.imgRank {
    border-radius: 2px;
    width: 50px;
    height: 80px;
    /* box-shadow: 0px 0px 10px 3px grey */
}
.card {
    position: relative;
    
}
.none {
    display: none;
    position: absolute;
    background: white;
    top: 15%;
    left: 102%;
    width: max-content;
    border-radius: 10px;
    padding: 10px;
    z-index: 2;
    transform: translateY(50%);
}
.none > * {
    padding: 2px
}
.spanBadges {
    background: #01B2C6;
    padding: 2px 5px;
    font-size: small;
    color: white;
    margin: 2px;
    border-radius: 5px
}
.card:hover > p {
    color: #01B2C6;
}


.card:hover .none {
    display: flex;
    flex-direction: column
}
.cardRank{
    background: white;
    margin: 20px 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 0px 10px 1px grAy;
    width: 80vw

}
.logoo {
    width: 50px;
    height: 50px;
}
.green {
    color: green;
    font-size: 20px
}
.flex {
    display: flex;
    align-items: center;
    gap: 20px
}
.flex > * {
    margin: 5px
}
.number{
    width: 10px;
    color: #99ADBD;
    font-size: 25px;
    font-weight: 900;
    display: flex;
    align-items: center;
    position: relative;
    left: 50px
}
.allTop {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center
}
.greyColor {
    color: #647380;
}
.lightGrey {
    color: #8BA0B2
}
.bigWidth {
    width: 350px    
}
.bigWidth > p > span {
    padding: 2px 5px;
    color: white;
    background: #437DFE;
    margin: 5px 2px;
    font-size: small;
    border-radius: 10px
}
.badges {
    width: 450px
}


/**/
.bg {
    width: 100vw;
    height: 30vh;
    background: #8BA0B2;
    position: relative;
}

.abs {
    position: relative;
    top: -10vh;
    left: 100px; 
    display: flex;
    gap: 10px;
}
.end {
    display: flex;
    align-items: center;
    line-height: 25px;
    margin: 10px;
    color:  #647380;
    flex-direction: column;
}
.linkAnime {
    margin: 10px;
    margin-top: 50px;
    display: flex;
    width: 50vw;
    justify-content: space-between
}
.linkAnime > p {
    margin: 2px;
}
.end > div > h2 {
    padding: 15px 0px;  
}
.down {
    color: black;
    padding: 10px 100px;
    position: relative;
    top: -50px;
    left: -10px;
    display: flex
}
.side {
    padding: 10px;
    color:  #8BA0B2;
}
.side > h4 {
    color: #647380;
    font-weight: 600;
    padding: 2px 0px
}
.side > p {
    font-size: 15px;
    padding: 5px 0
}
.sidebar {
    width: 190px;
    background: white;
    border-radius: 5px;
    margin: 10px 10px 0px 10px
}
.siide {
    padding: 5px;
    font-size: 13px;
    color: #647380;
    background: white;
    border-radius: 5px;
    width: 190px;
    margin: 10px 10px 0px 10px;
}
.red {
    color: red;
    font-size: 15px
}
.wwidth {
    width: 900px
}
.left {
    /* background: red; */
    width: min-content
}
.right {
    padding: 15px;
    margin: 5px auto;
    border-radius: 5px;
    width: 100%
}
.heart {
    color: white;
    background: red;
    height: 35px;
    width: 35px;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    margin-right: 0px;
    font-size: 20px;
    text-align: center;
}
.heart:hover {
    color: black;
}
.h4 {
    width: 200px;
    padding: 10px;
    letter-spacing: 0;
    font-weight: 800;
    color: #647380;
}
.flexx {
    display: flex;
    align-items: center;
    margin: auto;

}
.addtoList {
    padding: 10px 5px;
    width: 135px;
    margin: 15px 0px;
    color: white;
    background: #437DFE;
    border: none;
    border-radius: 5px
}
.addtoList:hover {
    box-shadow: 0px 0px 5px 2px grey
}
.triangle {
    background: WHITE;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -10px;
    top: 45%; 
    transform: translateY(-50%);
    transform: rotate(45deg);
}
.h2t {
    color: white;
}

.down {
    display: flex;
}
.slides {
    margin: auto;
    display: flex;
    justify-content: center;    
}
.carrouselImg {
    width: 250px;
    height: 350px;
    margin: 5px;
    border-radius: 5px
}
.carrousel {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white
}
.loading{
    font-size: 80px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center
}


.right {
    flex-wrap: wrap;
    /* justify-content: space-between */
    width: 80vw;
    flex-wrap: wrap;
}
.immg {
    width: 60px;
    height: 80px;
    border-radius: 2px
}
.fflex {
    display: flex;
    justify-content: space-bewtween;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}
.charact {
    display: flex;
    width: 45%;
    background: white;
    justify-content: space-between;
    border-radius: 5px;
    margin: 5px
}
.iframe {
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
    color: #8BA0B2;
}
.padd {
    margin-top: 20px
}
.flexD {
    display: flex;
    justify-content: space-between;
    font-size: small;
    color: #647380;
    /* width: 10% */
}
.flexD > p {
    margin-bottom: 25px;
    margin-top: 5px
}
.flexDD {
    display: flex;
    justify-content: space-between;
    font-size: small;
    color: #8BA0B2;
    /* flex-direction: column */
}
.cnter {
    width: 100%;
    padding: 5px 10px;
}

/* .greyColor {
    color: #647380;
}
.lightGrey {
    color: #8BA0B2
} */



.imgPanier {
    width: 150px;
    height: 250px;
    border-radius: 5px;
    margin: 10px
}
.article {
    background: white;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 220px
}
.article > div > p {
    /* width: 200px; */
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 0px 10px 5px 10px;
}
.delete {
    margin: auto;
    text-align: center;
    width: 50px;
    padding-bottom: 10px;
    cursor: pointer
}
.all {
    display: flex;
    /* flex-direction: column; */
    margin: auto;
    justify-content: center;
    width: 85%;
    flex-wrap: wrap
}
.titlePanier {
    letter-spacing: 0px;
    font-weight: 800;
    color: #647380;
    margin: 50px 10px 10px 100px
}
.padd {
    padding: 00px 10px 10px 10px;
    color: #647380;
    font-weight: 500;
}
.toutVu {
    padding: 10px 15px;
    width: auto;
    background: #437DFE;
    color: white;
    margin: auto;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-weight: 800
}
.ttvu {
    display: flex;
    justify-content: center;

}
.rien {
    width: 50vw;
    height: 50vh;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color:  #647380;
}